---
layout: default

cards:
    - icon: "fa-users"
      title: "Quem Somos"
      desc: "Inicio das atividades em Janeiro de 2018, voltada no desenvolvimento de Industrias em geral,e Distribuidores a Alux Metal. está entre os produtores de perfis de alumínio. Com 1 prensa de extrusão de 7” totalmente automatizadas no estado de São Paulo"
    - icon: "fa-bullseye"
      title: "Missão"
      desc: "“Produção e comercialização de soluções de alumínio para os mercados de transporte, construção civil e industrial”"
    - icon: "fa-star"
      title: "Valores"
      desc: "Ética nos relacionamentos e negócios <br> Sucesso em equipe e treinamento mutuo <br> Compromisso com qualidade e atendimento."

---

<div class="container-fluid p-0 app" ng-controller="macanController">

    <div class="container-fluid internal-titles">
        <div class="container">
            <h1>Olá, seja bem vindo</h1>
        </div>
    </div>

    <div class="servicos container">
        <div class="card-group d-xl-flex justify-content-between align-items-flex-start">
            {% for card in layout.cards %}
            <div class="card">
                <div class="number"><i class="fas {{ card.icon }}"></i></i></div>
                <div class="card-body">
                    <h5 class="card-title card-number">{{card.title}}</h5>
                    <p class="card-text">{{ card.desc }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid container-video">
        <div class="container">
            
            <div class="infoContainer">
                
            </div>

            <div class="videoContainer">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZE4_8Jbm-Pk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>

</div>

